body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: medium;
    background-color: rgb(156, 209, 255);
}

header {
    background-color: #faa003f7;
}

nav {
    background-color: #ffffff;
    display: inline-block;
    ;
    padding: 20px;
}

nav img {
    width: 10%;
    position: relative;
}

main {
    background-color: blanchedalmond;
    font-size: medium;
    padding-left: 5px;
}

footer {
    background-color: #cbffc0;
    font-size: smaller;
    padding-left: 5px;
}

li {
    display:unset;
} 

h1 {
    text-align: left;
    font-family: sans-serif;
    color: #ffffff;
}

p {
    line-height: 20px;
}

.grid {
    display: grid;
    grid-template-columns: 40% 40%;
    justify-content:space-around;
    row-gap: 10px;
}

.grid img {
    width: 100%;
}

.flex {
    display: flex;
    justify-content: space-around;
    align-items: center;
}