body{
    background-image: url("/MinorProject1/images/CalculatorBackground.png");
    background-size: cover;
    background-repeat: repeat;
    display: grid;
    grid-template-rows: auto 70vh 5vh;
    row-gap: 5vh;
    padding: 5px;
    grid-template-columns: 95vw;
    justify-content: center;
}
.heading{
    background-color: rgb(39, 162, 210);
    color: #ffffff;
    line-height: 10vh;
    text-align: center;
    font-weight: bolder;
    font-size: xx-large;
    border-radius: 8px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.fa-house{
    float: left;
    margin: 3vh 3vw;
    font-size: 4vh;
    color: #ffffff;
}
.fa-house:active{
    color: #d1d1d1e2;
}
table{
    border: 1px solid;
    padding: 10px;    
    background-color: #332f2f;
    border-radius: 10px;
    margin: 5px;
}
input[type="text"]{
    width: 58vw;
    height: 12vh;
    margin: 2px;
    text-align: left;
    font-size: 40px;
    background-color: #8e8d8d;
    border-radius: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
input[type="button"]{
    width: 19vw;
    height: 12.6vh;
    margin: 2px;
    font-size: 25px;
    background-color: #c7c7c7;
    border-radius: 10px;
    font-weight: bolder;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
input[type="button"]:active{
    background-color: #8e8d8d;
}
footer{
    font-size: medium;
    position: fixed;
    left: 0;
    bottom: 0;
    margin-bottom: 6px;
}
@media  screen and (min-width:650px) {
    input[type="button"]{
        width: 90px;
    }
    input[type="text"]{
        width: 280px;
    }
    .heading{
        font-size: xx-large;
    }
}
