body{
    background-image: url("/MinorProject1/images/DiceBackground.png");
    background-size: cover;
    background-repeat: repeat;
    display: grid;
    grid-template-rows: auto 400px 5vh;
    row-gap: 12vh;
}
.heading{
    background-color: rgb(223, 141, 0);
    color: #ffffff;
    line-height: 10vh;
    text-align: center;
    font-weight: bolder;
    font-size: xx-large;
    border-radius: 8px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.fa-house{
    float: left;
    margin: 3vh 3vw;
    font-size: 4vh;
    color: #ffffff;
}
.fa-house:active{
    color: #d1d1d1e2;
}
footer{
    font-size: medium;
    position: fixed;
    left: 0;
    bottom: 0;
    margin-bottom: 6px;
}
.content{
    border: 1px solid black;
    padding: 10px;    
    background-color: #332f2f;
    border-radius: 10px;
    display: grid;
    grid-template-rows: 70% 30%;
    width: 330px;
    margin: 0px auto;
}
#dice{
    border: 1px solid #ffffff;
    margin: auto;
    background-color: #ffffff;
    padding: 20%;
    width: 75px;
    height: 75px
}
#dice img{
    width: 100%;
}
input[type="button"]{
    margin: 8% 30%;
    font-weight: bold;
    font-size: xx-large;
    border-radius: 5px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}
 
