body{
    background-image: url("/MinorProject1/images/HomeBackground.png");
    background-size: cover;
    background-repeat: repeat;
    overflow-y: hidden;
}
.heading{
    background-color: rgb(243, 86, 112);
    color: #ffffff;
    line-height: 10vh;
    text-align: center;
    font-weight: bolder;
    font-size: larger;
    border-radius: 8px 8px 0px 0px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.Main_Content{
    background-color: #00000096;
    height: 85vh;
    border-radius: 0px 0px 8px 8px;
    overflow: scroll;
    overflow-x: hidden;
    scrollbar-width: thin;
    scroll-behavior: smooth;
    display: grid;
    grid-template-columns: 1fr;
    justify-content: center;
    align-items: center;
    row-gap: 10px;
}
figure img{
    border: 3.75px solid #ffffff;
    width: 100%;
    border-radius: 5px 5px 0px 0px;
}
figure a{
    display: grid;
    text-decoration: none;
    box-shadow: 8px 8px 4px #000000;
    width: 100%;
}
figure a:active{
    box-shadow: none;
    margin: 3px;
    justify-content: center;
}
figcaption{
    background-color: #ffffff;
    color: #000000;
    padding: 10px;
    border-radius: 0px 0px 5px 5px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
* {
    box-sizing: border-box;
}
footer{
    font-size: medium;
    position: fixed;
    bottom: 0;
    left: 0;
    margin-bottom: 6px;
}
@media screen and (min-width: 650px) {
    .Main_Content{
        grid-template-columns: 1fr 1fr;
    }
    figcaption{
        font-size: large;
    }
    .heading{
        font-size: xx-large;
    }
}
